body {
  margin: 0;
}

html {
  transition: background-color 1s;
}
#root{
  width:80%;
  margin: 0 10%;
}
 

#India_f {
  margin: 20px;
  text-align: left;
}
#India_m {
  margin: 20px;
  text-align: left;
}

.fadeIn {
  opacity: 0;
  display: block;
  animation: slidein 1s ease-out forwards;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

#author {
  margin: 10px;
  font-style: italic;
  font-size: x-large;
}

#newtext {
  margin: 20px;
  position: relative;
  border-radius: 5px;
  height: 35px;
  width: 100px;
  font-weight: 700;
  font-style: oblique;
  color: white;
}
.box3 {
  width: 500%;
  height:500%;
  text-align: center;
  max-width: 65rem;
  box-shadow: 5px 10px;
  border: 2px solid black;
  border-radius: 25px;
  margin-bottom: 2%;
}

button{
  box-sizing: content-box;
  font-size: medium;
}
h2{
  text-decoration: underline;
}
h1{
  color: black;
  text-align: center;
  font-style: bold;
}
label{
  font-size: large;
  font-style: italic;
}